@charset "UTF-8";
:root{
	--tablet: 991.98px;
	--mobile: 767.98;
	--mobileSmall: 479.98;
	--black: #000;
	--blue: #007AFF;
	--purple: #BE06FF;
   --grey: #F4F5F6;
   --white: #FFFFFF73;
	--main-font: "Inter", sans-serif;
	--primary-color: var(--black);
	--accent-color-orange: var(--orange);
	--accent-color-purple: var(--purple);
   --background: var(--white);
	--background-block: var(--grey);
}
html,
body {
   margin: 0 auto;
   max-width: 1440px;
   height: 100%;
   font-family: var(--main-font);
   font-size: 14px;
   color: var(--primary-color);
   background: var(--background);
	scroll-behavior: smooth;
}
h1 {
   padding-bottom: 8px;
   font-size: 40px;
   font-weight: 550;
   line-height: 48px;
   letter-spacing: -0.02em;
}
.wrapper {
   padding: 24px;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 24px;
}
.header__logo {
   display: flex;
   align-items: center;
   gap: 8px;
   padding-right: 30px;
}
.header__logo span {
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.01em;
   text-align: left;
}
.header__menu {
   display: flex;
   flex-wrap: wrap;
   gap: 32px;
}
.header__menu a {
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: -0.01em;
   color: #000000;
}
.about {
}
.about__container {
   display: flex;
   gap: 16px;
}
.about__info {
   flex: 1 1 60%;
   padding: 72px 65px 56px 72px;
   border-radius: 24px;
   background: linear-gradient(to bottom, #E6E3F1, #E1D9EA, #EDDFF3);
}
.about__descr {
}
.about__title {
   padding-bottom: 56px;  
   color: rgba(0, 0, 0, 1);
}
.about__subtitle {
   padding-left: 24px;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: -0.01em;
   background: url('/assets/icons/map.svg') left 2px no-repeat;
}
.about__text {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: -0.01em;
   padding-bottom: 32px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.about__contacts {
   padding-top: 32px;
}
.contacts__title {
   padding-bottom: 16px;
   font-size: 16px;
   font-weight: 550;
   line-height: 19.36px;
   letter-spacing: -0.02em;
}
.contacts__list li {
   padding-bottom: 8px;
}
.contacts__list > li > a {
   padding-left: 28px;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.01em;
   color: rgba(0, 0, 0, 1);
}
.contacts__phone {
   background: url('/assets/icons/phone.svg') left 0 no-repeat;
}
.contacts__mail {
   background: url('/assets/icons/mail.svg') left 0 no-repeat;
}
.contacts__discord {
   background: url('/assets/icons/discord.svg') left 0 no-repeat;
}
.contacts-socials__list {
   display: flex;
   gap: 8px;
}
.contacts-socials__list li {
   padding-top: 16px;
}
.contacts-socials__list li a{
   text-align: center;
   align-items: center;
   padding: 14px 10px 6px 10px;
   background: rgba(255, 255, 255, 1);
   border-radius: 32px;
}
.about__photo {
}
.about__photo img{
   max-width: 504px;
   object-fit: cover;
   width: 100%;
}
.skills {
}
.skills__container {
}
.skills__hard {
}
.skills__title {
}
.skills__list {
}
.skills__list-hard {
}
.skills__soft {
}
.skills__list-soft {
}
.code {
}
.code__container {
}
.experience {
}
.experience__container {
}
.experinece__logo {
}
.experience__info {
}
.experience__descr {
}
.experinece__title {
}
.experience__subtitle {
}
.experience__term {
}
.experience__skills {
}
.experience__list {
}
.projects {
}
.projects__container {
}
.projects__project {
}
.project__container {
}
.project__info {
}
.project__title {
}
.project__descr {
}
.project__list {
}
.project__buttons {
}
.project__website {
}
.project__github {
}
.project__img {
}
.education {
}
.education__container {
}
.education__university {
}
.education__item {
}
.education__logo {
}
.education__info {
}
.education__title {
}
.education__subtitle {
}
.education__term {
}
.education__course {
}